APP_PORT=6722

DB_CONNECTION=mongodb://localhost:27017/?timeoutMS=5000&maxPoolSize=20&w=majority
DB_API_HOST=localhost
DB_API_PORT=27017
DB_API_DATABASE=oosa
DB_API_USERNAME=
DB_API_PASSWORD=

GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_API_KEY=

FLICKR_API_KEY=
FLICKR_SECRET_KEY=
FLICKR_UPLOAD_USERNAME=

CLOUDFLARE_IMAGE_AUTH_TOKEN=
CLOURDLARE_IMAGE_ACCOUNT_ID=
CLOURDLARE_IMAGE_ACCOUNT_HASH=
CLOURDLARE_IMAGE_DELIVERY_URL=

OPENWEATHER_API_BASE_URL=https://api.openweathermap.org/data/2.5/
OPENWEATHER_API_KEY=

APP_BASE_URL=http://127.0.0.1:6722/

EVENT_POLAROID_LIMIT=3
EVENT_ACCOUNTING_LIMIT=100
EVENT_ANNOUNCEMENT_LIMIT=20
EVENT_MESSAGE_BOARD_LIMIT=9999
POCKET_LIST_LIMIT=3
POCKET_LIST_ITEMS_LIMIT=10
LENGTH_POCKET_LIST_NAME=30
LENGTH_REWILDING_NAME=30
LENGTH_REWILDING_IMAGE=3
LENGTH_REWILDING_REFERENCE_LINK=3
LENGTH_EVENT_NAME=20
LENGTH_EVENT_MESSAGE_BOARD_MESSAGE=150
LENGTH_EVENT_ACCOUNTING_MESSAGE=30
LENGTH_EVENT_INVITATION_MESSAGE=50
LENGTH_EVENT_POLAROID_MESSAGE=20
LENGTH_EVENT_PARTICIPANT_MESSAGE=50
POLAROID_ACHIEVEMENT_RADIUS=2000
MINIMUM_TOP_RANKING=2
ALLOWED_PHOTO_LINKS=photos.google.com,icloud.com,flickr.com,mega.com,mega.nz,photos.app.goo.gl